/*ไม่สามารถเปลี่ยนสี <h1> ได้อาจเกี่ยวข้องกับการใช้ Bootstrap เนื่องจาก Bootstrap มีชุดสไตล์ CSS ที่อาจมีลำดับความสำคัญสูงกว่า และอาจทำให้การเปลี่ยนแปลงสีของคุณถูกเขียนทับ*/

h1 {
  text-align: center;
  color: rgb(87, 66, 66) !important; /* ใช้ !important เพื่อทำให้การตั้งค่าสีนี้มีความสำคัญสูง */
  font-family: "Kanit", sans-serif;
}


hr {
  border: none; /* ลบเส้นขอบเริ่มต้น */
  border-top: 2px solid darkblue; /* เส้นหนา 2px สีเข้ม */
  width: 100%; /* ความกว้างของเส้น */
  margin: 20px auto; /* เพิ่มช่องว่างด้านบนและล่าง และจัดให้อยู่กลาง */
}

/* จัด td กับ th */
td {
  padding: 10px; /* เพิ่มช่องว่างระหว่างข้อความ */
  vertical-align: top; /* จัดข้อความให้ชิดบน */
}

/* Label ชิดขวา */
td:first-child {
  text-align: right;
  font-weight: bold; /* ตัวอักษรหนา */
  width: 30%; /* กำหนดความกว้างของคอลัมน์แรก */
}

/* Input ช่องกรอก */
td:last-child {
  text-align: left;
  width: 70%; /* กำหนดความกว้างของคอลัมน์ที่สอง */
}

/* ปุ่มแต่ง */
button {
  padding: 10px 20px;
  font-family: "Kanit", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none
}
body, button {
  font-family: "Kanit", sans-serif;
}

button[type="submit"] {
  background-color: #28a745; /* สีเขียว */
  color: white;
}

button[type="submit"]:hover {
  background-color: #218838; /* สีเขียวเข้มเมื่อ hover */
}

button[type="reset"] {
  background-color: #dc3545; /* สีแดง */
  color: white;
}

button[type="reset"]:hover {
  background-color: #c82333; /* สีแดงเข้มเมื่อ hover */
}
/*ชี้เมาส์แล้วเปลี่ยนสี */
input:hover{/*input*/
  background-color: darkgray;
}
textarea:hover{/*textarea ที่อยู่*/
  background-color: darkgray;
}
/*กดแล้วเปลี่ยนสี */
input:focus {/*input*/
  outline: none; /* ลบเส้นขอบเริ่มต้น */
  border-color: #007bff; /* เปลี่ยนสีกรอบ */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* เพิ่มเงาสี */
}
textarea:focus {/*textarea*/
  outline: none; /* ลบเส้นขอบเริ่มต้น */
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
select:focus {/*ที่กดเลือก*/
  outline: none; /* ลบเส้นขอบเริ่มต้น */
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
